@import "./../../../utils/constants.scss";

.mc__searcher {
  width: 60%;
  display: flex;
  position: relative;
  flex-direction: row;
  &__input-search {
    background-color: #eee;
    padding: 11px 12px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    border: 1.2px solid lightgray;
    &::placeholder {
      color: gray;
    }
    &:focus {
      outline: none;
      box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    }
  }
  &__logo {
    transition: 0.3s all;
    background-color: $color-soft-gray;
    align-self: center;
    padding: 7.5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0.2px solid lightgray;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    &:hover {
      background-color: #c9c9c9;
    }
  }
}
